@page "/u/{username}/Activities"
@model A3D.Web.Areas.Activities.Pages.List.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class="text-center">
        @* TODO refactor the breadcrumb into a partial view *@
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">List</li>
            </ol>
        </nav>

        <h1 class="display-4">Activities</h1>

        <div class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" value="Activity Name" disabled="disabled">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" value="Schedule" disabled="disabled">
            </div>
            <a href="/u/@User.Identity.Name/Activities/Add" class="btn btn-success">Add New Activity</a>
        </div>
        <hr />
        @foreach (var activity in Model.Activities)
        {
            <div class="form-inline">
                <div class="form-group">
                    <input id="activity_@(activity.Id)_name" type="text" class="form-control" placeholder="..." value="@activity.Name" readonly="readonly" />
                </div>
                <div class="form-group">
                    <input id="activity_@(activity.Id)_schedule" type="text" class="form-control" placeholder="No schedule set" value="@activity.Schedule" readonly="readonly" />
                </div>
                <a href="/u/@User.Identity.Name/Activities/@activity.Id" class="btn btn-primary">Edit</a>
                <a href="/u/@User.Identity.Name/Activities/@activity.Id/History" class="btn btn-primary">History</a>
            </div>
        }
    </div>

